.container
  display: flex
  justify-content: center
  align-items: center
  padding: 0
  overflow: hidden
  .input
    width: 100%
    font-size: 24px
    outline: none
    padding: 16px
    border: none
