<mat-card class="container">
  <app-todo-input (submit)="handleInputSubmit($event)"></app-todo-input>

  <mat-divider inset style="margin: 20px 0"></mat-divider>

  <app-todo-list [todoList]="(todoList$ | async) || []"></app-todo-list>
</mat-card>

