<div class="list-item">

  <div *ngIf="showSelectCheckBox" class="list-item__checkbox">
    <mat-checkbox></mat-checkbox>
  </div>


  <mat-card class="list-item__content">

    <div *ngIf="item.isArchived" class="list-item__info">
      <mat-icon [ngStyle]="{color: '#c1c1c1'}" color="#cccccc">archive</mat-icon>
    </div>

    <div
      class="list-item__title"
      [class.list-item__title--completed]="item.isCompleted"
      [class.list-item__title--archived]="item.isArchived"
    >
      {{item?.text}}
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="onCompletePressed()" mat-menu-item>Complete</button>
      <button (click)="onArchivePressed()" mat-menu-item>Archive</button>
      <button (click)="onDeletePressed()" mat-menu-item>Delete</button>
    </mat-menu>

  </mat-card>
</div>


