.list-item
  display: flex
  flex-direction: row
  align-items: center

  &__info
    margin-right: 16px
    display: flex
    justify-content: center
    align-items: center

  &__content
    display: flex
    flex-direction: row
    align-items: center
    margin: 8px 0
    width: 100%

  &__checkbox
    margin: 0 16px

  &__title
    flex-grow: 1

    &--completed
      text-decoration: line-through
      color: #ccc

    &--archived
      color: #ccc
