<mat-tab-group
  mat-align-tabs="start"
  [selectedIndex]="selectedFilterTabIndex"
  (selectedIndexChange)="handleChangeTab($event)"
>
  <mat-tab
    *ngFor="let filterTab of todoFilters"
    [label]="filterTab.label"
  >

    <div
      *ngIf="todoList.length === 0; else tabContent"
      class="empty-list"
    >
      List is empty
    </div>

    <ng-template #tabContent>
      <app-todo-list-item
        [showSelectCheckBox]="false"
        *ngFor="let todo of todoList; trackBy: trackByFn"
        [item]="todo"
        (deleteEvent)="handleDeleteTodo($event)"
        (archiveEvent)="handleArchiveTodo($event)"
        (completeEvent)="handleCompleteTodo($event)"
      ></app-todo-list-item>
    </ng-template>

  </mat-tab>
</mat-tab-group>



